<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
<form action="http://localhost:8080/gerentes" method="post" enctype="multipart/form-data">
		<div class="form-group">


			<label for="exampleInputEmail1">Nome do prato</label> <input
				class="form-control" id="exampleInputEmail1" type="text" name="nome"> <br> <label
				for="exampleInputEmail1">Preco</label> <input class="form-control"
				type="number" id="exampleInputEmail1" name="preco"> <br> 
				
				Imagem: <input type="file" name="imagem" enctype="multipart/form-data">
				
				<input  type="submit" value="Vai">

		</div>
	</form>

</body>
</html>