<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Codigo</th>
				<th scope="col">Nome</th>
				<th scope="col">Total</th>
				
			</tr>
			<!-- <tr>
				<th scope="col" th:text="${cliente.cpf}"></th>
				<th scope="col" th:text="${cliente.nome}"></th>
				
			</tr> -->
		</thead>
		<tbody>

			<tr th:each="c : ${cliente.pedidos}">
				<!-- <th scope="row" th:each = "c : ${cliente.pedidos}"></th> -->
				<td>ID</td>
				<td th:text="${c.id}"></td>
				
				<td th:text="${c.total}"></td>
				<td> <a th:href = "@{/clientes/pratos/{codigo}(codigo = ${c.id})}"><button type="button" class="btn btn-primary">Mostrar pratos</button> </a> </td>
				
				<!-- /historico/{cpf}/pratos/{id} -->
				<!-- <td th:text="${c.total}"></td> -->

			</tr>
			

		</tbody>
	</table>

	<!-- <table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table> -->
</body>
</html>