<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Valor</th>
				<!-- <th scope="col">Handle</th> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="prato : ${list}">
				<th th:text="${prato.id}">
				<th th:text="${prato.nome}">
				<th th:text="${prato.preco}">
				<th> <a th:href="@{/gerentes/deletar/{id}(id = ${prato.id})}">Remover</a>
				<td> <img width="100" height="100" alt="" th:src="@{'/images/'+${prato.nome}+.png}"/> </td>
			</tr>

		</tbody>
	</table>

</body>
</html>